body {
	overflow: auto;
}

#ofelimo {
	padding: 8px 0 0 0;
	white-space: nowrap;
}

#tsoxa {
	display: inline-block;
	width: 600px;
	height: 600px;
	margin: 0 6px 0 0;
	overflow: visible;
}

#panel {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	width: 44px;
	height: 606px;
	padding: 0 0 0 4px;
	margin: 0 8px 0 0;
}

#dianomes {
	display: inline-block;
	vertical-align: top;
	height: 606px;
	overflow-y: auto;
	overflow-x: visible;
}

.dianomi {
	bottom: auto;
	height: 32px;
	padding: 0px 24px 0 0;
	border-style: none none solid none;
	border-width: 2px;
	border-color: #888;
	cursor: pointer;
	background-color: #89A785;
}

.dianomiOdd {
	background-color: #92B58E;
}

.dianomiTrexousa {
	background-color: rgb(255, 214, 0) !important;
}

.dianomiKodikos {
	display: inline-block;
	position: relative;
	bottom: 1px;

	font-family: "Lucida Console", "Monaco", monospace;
	font-size: 20px;
}

.agora {
	display: inline-block;
	position: relative;
	bottom: 0px;
	width: 86px;
	text-align: center;
}

.tsoxaDilosiAsoi {
	bottom: 1px;
	width: 34px;
}

.tsoxaDilosiAsoi:before {
	bottom: 2px;
	left: -12px;
}

/**********************************************************************************************************************/

#trapeziData {
	position: absolute;
	left: 6px;
	padding: 4px;
	font-size: 20px;
	font-weight: bold;
	background-color: #89A785;
}

#dataTrapeziKodikos {
	display: inline-block;
}

#dataDianomiKodikos {
	display: inline-block;
}

#dataDianomiKodikos:before {
	content: '#';
	font-weight: normal;
	padding: 4px;
}

#options {
	position: absolute;
	top: -16px;
	right: 10px;
}

.option {
	display: inline-block;
	width: 40px;
	padding: 0 2px;
}

/**********************************************************************************************************************/

.pektis {
	position: absolute;
	width: 270px;
	height: 140px;
}

#pektis1 {
	bottom: 6px;
	left: 6px;
}

#pektis2 {
	top: 36px;
	right: 6px;
}

#pektis3 {
	top: 36px;
	left: 6px;
}
