.account_kodikos {
	opacity: 0.3;
}

.account_sokidok {
	visibility: hidden;
}

.account_prive {
	background-color: rgb(252, 132, 132);
}

iframe[name="action"] {
	display: none;
	width: 800px;
	height: 200px;
	background-color: #FFFFCC;
}
