body {
	overflow-y: hidden;
}

#kritiria {
	padding: 0 0 10px 0;
}

#apotelesmata {
	overflow-y: auto;
	width: 755px;
}

.arxioTrapeziTsoxa {
	width: 686px;
	margin: 0 0 10px 10px;
}

.arxioTrapeziArxio {
	display: inline-block;
	position: relative;
	bottom: 7px;
	width: 150px;
	text-align: center;
	margin-left: 20px;
}
