body {
	overflow-y: hidden;
}

#kritiria {
	padding: 0 0 10px 0;
}

#apotelesmata {
	overflow-y: auto;
	width: 966px;
	padding: 20px 0 0 0;
}

.trapezi {
	margin: 0 0 0px 10px;
	padding: 10px 0px 6px 0px;
	opacity: 0.8;
	overflow: visible;

	border-style: none none solid none;
	border-width: 2px;
	border-color: rgb(157, 157, 153);
	background-color: rgb(203, 219, 197);
}

.trapezi:hover {
	opacity: 1;
	background-color: rgb(169, 192, 160);
	cursor: pointer;
}

.trapeziData {
	margin: 0 0 0 8px;
	width: 160px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.trapeziDataContent {
	position: relative;
	top: 2px;
}

.trapeziPektis {
	width: 160px;
	text-align: left;
	padding-left: 4px;
	white-space: nowrap;
}

.trapeziArxio {
	display: inline-block;
	position: relative;
	bottom: 8px;
	width: 150px;
	text-align: left;
	margin-left: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.trapeziOpts {
	top: -8px;
	left: 6px;
}

.trapeziOption {
	width: 24px;
}

.dianomi {
	position: relative;
	bottom: -6px;
	padding: 8px 0px 0px 0px;
	opacity: 0.8;

	border-style: solid none none none;
	border-width: 2px;
	border-color: rgb(157, 157, 153);
	background-color: rgb(255, 200, 100);
}

.dianomi:hover {
	opacity: 1.0;
	cursor: pointer;
}

.dianomiData {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 8px;

	margin: 0 8px 0 0;
	width: 166px;
	height: 28px;
	text-align: center;

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;

	border-radius: 5px;
	box-shadow: 2px 2px 6px #353535;
}

.dianomiDataContent {
	position: relative;
	top: 6px;
}

.dianomiPektis {
	position: relative;
	bottom: -2px;
	margin: 0 0 0 18px;
	width: 170px;
	height: 28px;
	border-style: none;
	background-color: transparent;
}

.arxioKapikia {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 0 4px;
	height: 100%;
	min-width: 40px;
	text-align: right;
	font-weight: bold;
	color: rgb(22, 49, 133);
	background-color: rgba(253, 253, 162, 0.30);
}

.arxioKapikiaTrexon {
	background-color: rgb(253, 253, 162);
}

.arxioKapikiaMion {
	color: rgb(194, 0, 0);
}

.inputLathos {
	color: #990000;
	background-color: rgb(253, 253, 162);
}

.formaButton {
	margin: 0 4px 0 16px;
}
