body {
	max-width: none;
}

#minimata {
	border-spacing: 2px 6px;
	border-collapse: collapse;
}

.minima {
	position: relative;
	vertical-align: top;
	border-style: none none solid none;
	border-width: 1px;
	border-color: rgb(190, 190, 190);
}

.minimaZebra0 {
	background-color: #FFF9BA;
}

.minimaZebra1 {
	background-color: #E6E0A7;
}

.minimaExerxomeno {
	opacity: 1;
}

.minimaIserxomeno {
	opacity: 1;
}

.minimaIkothen {
	opacity: 0.6;
}

.minimaDiavasmeno {
	opacity: 0.6;
}

.minimaTrexon {
	opacity: 1;
	background-color: rgb(213, 252, 213);
}

.minimaDiagrafi {
	background-color: rgb(241, 170, 170);
}

.minimaKodikos {
	display: none;
	width: 0px;
	padding: 4px 10px;
	text-align: right;
}

.minimaPote {
	position: relative;
	width: 1px;
	padding: 4px 10px;
	text-align: right;
	white-space: nowrap;
	cursor: pointer;
}

.minimaPios {
	min-width: 6em;
	width: 1px;
	padding: 4px 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.minimaPiosOnoma {
	display: block;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}

.minimaIdosIcon {
	display: block;
	margin: 6px auto;
	height: 50px;
}

.minimaKimeno {
	padding: 4px 10px;
	text-align: left;
}

.minimaPanel {
	width: 42px;
	height: 126px;
}

.minimaPanelButton {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin: 2px;
	background-color: transparent;
	border-style: outset;
	border-width: 2px;
	border-color: transparent;
}

.minimaPanelButton:hover {
	background-color: rgb(233, 248, 154);
	border-color: rgb(229, 255, 190);
	cursor: pointer;
}

.minimaPanelIcon {
	width: 100%;
}

#minimaEditForma {
	display: none;
	position: fixed;
	top: 80px;
	left: 240px;
	width: 700px;
	height: 433px;
}

#minimaEditFormaPros {
	position: absolute;
	top: 12px;
	left: 10px;
}

#minimaEditFormaParaliptisLogin {
	font-size: 14px;
}

#minimaEditFormaKimeno {
	position: absolute;
	top: 50px;
	left: 12px;
	width: 698px;
	height: 392px;
}

#minimaEditFormaPanel {
	position: absolute;
	top: 12px;
	left: 300px;
}
