body {
	max-width: none;
}

#minimata {
	border-spacing: 2px 6px;
	border-collapse: collapse;
}

.minima {
	position: relative;
	vertical-align: top;
	border-style: none none solid none;
	border-width: 1px;
	border-color: rgb(190, 190, 190);
}

.minimaZebra0 {
	background-color: rgba(242, 255, 255, 1);
}

.minimaZebra1 {
	background-color: rgba(255, 252, 213, 1);
}

.minimaExerxomeno {
	opacity: 0.5;
}

.minimaIserxomeno {
	opacity: 1;
}

.minimaIkothen {
	opacity: 0.5;
}

.minimaDiavasmeno {
	opacity: 0.5;
}

.minimaTrexon {
	opacity: 1;
	background-color: rgb(213, 252, 213);
}

.minimaDiagrafi {
	background-color: rgb(241, 170, 170);
}

.minimaKodikos {
	display: none;
	width: 0px;
	padding: 4px 10px;
	text-align: right;
}

.minimaImerominia {
	position: relative;
	width: 1px;
	padding: 4px 10px;
	text-align: right;
	white-space: nowrap;
}

.minimaPios {
	width: 1px;
	padding: 4px 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	cursor: pointer;
}

.minimaPiosOnoma {
	display: block;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}

.minimaIdosIcon {
	display: block;
	height: 40px;
	float: right;
}

.minimaKimeno {
	padding: 4px 10px;
	text-align: left;
}

.minimaPanel {
	width: 1px;
	padding: 4px 10px;
	text-align: left;
	opacity: 0;
}

.minimaPanelButton {
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 2px;
	background-color: transparent;
	border-style: outset;
	border-width: 2px;
	border-color: transparent;
}

.minimaPanelButton:hover {
	background-color: rgb(255, 253, 216);
	border-color: rgb(255, 232, 190);
	cursor: pointer;
}

.minimaPanelIcon {
	width: 100%;
}

#minimaEditForma {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 600px;
	height: 400px;
	background-color: teal;
}
